<div class="sticky navbar top-0 left-0 bg-base-100 shadow-xl z-40">
  <div class="navbar-start">
    <div class="dropdown">
      <a routerLink="/">
        <div tabindex="0" role="button" class=" btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
      </a>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
<!--        <li><a>Item 1</a></li>-->
<!--        <li>-->
<!--          <a>Parent</a>-->
<!--          <ul class="p-2">-->
<!--            <li><a>Submenu 1</a></li>-->
<!--            <li><a>Submenu 2</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li><a>Item 3</a></li>-->
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" routerLink="/">
      <img style="color: white" ngSrc="assets/icon.svg" alt="Logo" class="h-8 w-8" width="50" height="50" />
      Bandoru
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
<!--    <ul class="menu menu-horizontal px-1">-->
<!--      <li><a>Item 1</a></li>-->
<!--      <li>-->
<!--        <details>-->
<!--          <summary>Parent</summary>-->
<!--          <ul class="p-2">-->
<!--            <li><a>Submenu 1</a></li>-->
<!--            <li><a>Submenu 2</a></li>-->
<!--          </ul>-->
<!--        </details>-->
<!--      </li>-->
<!--      <li><a>Item 3</a></li>-->
<!--    </ul>-->
  </div>
  <div class="navbar-end flex gap-3">
    <ng-container *ngIf="(user$ | async) as user; else loading">
      @if (user == NO_USER) {
        <a class="btn btn-secondary w-[90px]" [href]="SIGNIN_URL" target="_blank">Log in</a>
        <a class="btn btn-primary w-[90px]" [href]="SIGNUP_URL" target="_blank">Sign up</a>
      } @else {
        <details class="dropdown dropdown-end">
          <summary class="btn btn-primary m-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
            </svg>

            Hello {{ user.email.split('@')[0] }}
          </summary>
          <ul class="menu dropdown-content bg-base-300 z-[1] w-52 p-2 shadow">
            <li>
              <a>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3" />
                </svg>
                Your bundles
              </a>
            </li>
            <li>
              <a routerLink="/logout">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
                </svg>
                Logout
              </a>
            </li>
          </ul>
        </details>
      }
    </ng-container>
    <ng-template #loading>
      <div class="w-[180px]">
        <span class="loading loading-spinner loading-xs"></span>
      </div>
    </ng-template>
    <a class="btn btn-accent" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Say hi</a>
  </div>
</div>
