<form [formGroup]="bundleForm" novalidate (submit)="uploadBundle(bundleForm)">
  <div class="p-3 w-full grid grid-cols-12 gap-x-4 auto-rows-max gap-y-4 relative">
    <aside class="col-span-12 md:col-span-3">
      <div class="md:hidden collapse collapse-arrow border-gray-700 border flex-shrink-0">
        <input type="checkbox" />
        <div class="collapse-title shadow-lg">Bundle details</div>
        <div class="collapse-content">
          <app-bundle-metadata-editor
            [descriptionFormControl]="bundleForm.controls.description"
          />
        </div>
      </div>
      <div class="max-md:hidden">
        <app-bundle-metadata-editor
          [descriptionFormControl]="bundleForm.controls.description"
        />
      </div>
    </aside>
    <section class="col-span-12 md:col-span-9 lg:col-span-8 xl:col-span-6 flex flex-col gap-3 items-stretch">
      @for (fileEditor of bundleForm.controls.files.controls; track fileEditor.value.id) {
        <app-bundle-editor [customControl]="fileEditor" (remove)="removeFile($event)" ></app-bundle-editor>
      }
      @if (bundleForm.invalid && bundleForm.dirty) {
        <div class="alert alert-warning">You cannot leave empty filenames</div>
      }
      <section class="flex flex-row">
        <button class="btn btn-primary" type="button" (click)="addFile()">Add File</button>
        <div class="flex-1"></div>
        <button type="submit" class="btn btn-success" [class]="state === UIState.SENDING ? 'loading':''" >Share</button>
      </section>
    </section>
  </div>

</form>
<div class="mb-14">

</div>
